certifi==2024.2.2
charset-normalizer==3.3.2
eark-validator==1.1.1
eatb==0.1.9
idna==3.6
importlib_resources==6.1.2
lxml==5.1.0
olefile==0.47
opf-fido==1.6.1
Pairtree==0.8.1
pip==24.0
pytz==2024.1
requests==2.31.0
setuptools==59.6.0
six==1.16.0
urllib3==2.2.1
wheel==0.37.1
